<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = 'utf-8'>
    <meta name = "viewport" content="width-device-width, initial-scale-1">
<!-- Latest compiled and minified CSS -->
{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" type="text/css">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>


<div class="container-fluid">
    <!--<img src="{% static 'img/1.jpg' %}" class="img-rounded" width="230" height="230">-->
    <!--<img src="{% static 'img/1.jpg' %}" class="img-circle" width="230" height="230">-->

    <!--<img src="{% static 'img/2.jpeg' %}" class="img-responsive">-->
    <!--<img src="{% static 'img/2.jpeg' %}">-->

    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive" src = "{% static 'img/3.mp4' %}"></iframe>
    </div>
</div>



</body>
</html>
