<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = 'utf-8'>
    <meta name = "viewport" content="width-device-width, initial-scale-1">
<!-- Latest compiled and minified CSS -->
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" type="text/css">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

</head>
<body>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <!--Logo-->
            <div class="navbar-header">
                <a href="4" class="navbar-brand">Mohammad</a>
            </div>
            <!--Menue Item-->
            <div>
                <ul class="nav navbar-nav">
                    <li class="active"><a href="4">home</a></li>
                    <li><a href="4">About</a></li>
                    <li><a href="4">Contact</a></li>

                    <!--DropDown Menu-->
                    <li class="dropdown">
                        <a href="4" class="dropdown-toggle" data-toggle="dropdown">Profile <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                             <li><a href="4">Contact</a></li>
                             <li><a href="4">Setting</a></li>


                        </ul>

                    </li>

                </ul>

                <!--right align-->
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="4">Logout</a></li>
                </ul>

            </div>
        </div>
    </nav>


</body>
</html>
