<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset = 'utf-8'>
    <meta name = "viewport" content="width-device-width, initial-scale-1">
<!-- Latest compiled and minified CSS -->
{% load staticfiles %}
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" type="text/css">

<!-- Optional theme -->
<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.min.css' %}" type="text/css">

<!-- Latest compiled and minified JavaScript -->
<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
</head>
<body>


<div class="container-fluid">

    <h2>Simple Table</h2>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Points</th>

        </tr>
        </thead>
        <tbod>
            <tr>
                <td>Mohammad</td>
                <td>23</td>
                <td>10000</td>

            </tr>
            <tr>
                <td>Farhad</td>
                <td>26</td>
                <td>23000</td>

            </tr>
            <tr>
                <td>Ali</td>
                <td>23</td>
                <td>900</td>

            </tr>
        </tbod>
    </table>
<h2>Condensed Table</h2>
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Points</th>

        </tr>
        </thead>
        <tbod>
            <tr>
                <td>Mohammad</td>
                <td>23</td>
                <td>10000</td>

            </tr>
            <tr>
                <td>Farhad</td>
                <td>26</td>
                <td>23000</td>

            </tr>
            <tr>
                <td>Ali</td>
                <td>23</td>
                <td>900</td>

            </tr>
        </tbod>
    </table>
    <h2>Strip Table</h2>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th>Age</th>
            <th>Points</th>

        </tr>
        </thead>
        <tbod>
            <tr>
                <td>Mohammad</td>
                <td>23</td>
                <td>10000</td>

            </tr>
            <tr>
                <td>Farhad</td>
                <td>26</td>
                <td>23000</td>

            </tr>
            <tr>
                <td>Ali</td>
                <td>23</td>
                <td>900</td>

            </tr>
        </tbod>
    </table>

</div>



</body>
</html>
