{% extends 'base.html' %}
{% block head %}
		<title>chart created with amCharts | amCharts</title>
		<meta name="description" content="chart created using amCharts live editor" />

				<!-- amCharts javascript sources -->
		{% load static %}

		<link rel="stylesheet" href="{% static 'bootstrap/css/sidebar.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'bootstrap/css/radio.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'bootstrap/css/class_active.css' %}" type="text/css">

		<!-- Latest compiled and minified JavaScript -->
		<script>
$("document").ready(function() {

  $('.dropdown-menu').on('click', function(e) {
      if($(this).hasClass('dropdown-menu-form')) {
          e.stopPropagation();
      }
  });
});
</script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/amcharts.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/serial.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/pie.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/themes/black.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/plugins/dataloader/dataloader.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/plugins/plugins/export/export.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/themes/light.js' %}"></script>
		<link rel="stylesheet" href="{% static 'amcharts/amcharts/plugins/export/export.css' %}" type="text/css" media="all" />

		<!--Incoming/Outgoing Duration from Shatel-->
		<script type="text/javascript">
			var chartData_duration_per_operator = {{ duration_per_operator | safe }}
			chart2 = new AmCharts.makeChart("duration_per_operator",
				{
					"type": "serial",
					"categoryField": "Operator",
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start",
					},
					"chartScrollbar": {
                         "graph": "AmGraph-1",
                         "position" : "bottom",
                         },
                    "trendLines": [],
                    "chartCursor": {
			            "limitToGraph":"AmGraph-1",
			        },
					"graphs": [
						{
							"balloonText": "[[title]] of [[Operator]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-1",
							"title": "Incomming call",
							"type": "column",
							"valueAxis": "ValueAxis-1",
							"valueField": "Incomming call",
						},
						{
							"balloonText": "[[title]] of [[Operator]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-2",
							"title": "Outgoing call",
							"type": "column",
							"valueAxis": "ValueAxis-1",
							"valueField": "Outgoing call"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Duration(Hour)",
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Duration per Operator"
						}
					],
					"dataProvider":
						chartData_duration_per_operator[0]

				}
			);
			function selectDataset_duration_per_operator(d) {
				chart2.dataProvider = chartData_duration_per_operator[d];
				chart2.validateData();
				chart2.animateAgain();
			}

		</script>
		<script type="text/javascript">
			var chartData_duration_per_operator_pie_Incomming = {{ duration_per_operator | safe }}
			chart2_pie_Incomming = new AmCharts.makeChart("duration_per_operator_pie_Incomming",
				{
					"type": "pie",
					"theme": "light",
				    "valueField": "Incomming call",
				    "dataProvider": chartData_duration_per_operator_pie_Incomming[0],
					"titleField": "Operator",
				    "balloon":{
				        "fixedPosition":true
				},
				  "export": {
				    "enabled": true
				  },
				  "titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Incomming Percentage"
						}
					]
				});
				var chartData_duration_per_operator_pie_Outgoing = {{ duration_per_operator | safe }}
			chart2_pie_Outgoing = new AmCharts.makeChart("duration_per_operator_pie_Outgoing",
				{
					"type": "pie",
					"theme": "light",
				    "valueField": "Outgoing call",
				    "dataProvider": chartData_duration_per_operator_pie_Outgoing[0],
					"titleField": "Operator",
				    "balloon":{
				        "fixedPosition":true
				},
				  "export": {
				    "enabled": true
				  },
				  "titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Outgoing Percentage"
						}
					]
				});
			function selectDataset_duration_per_operator_pie(d) {
				chart2_pie_Incomming.dataProvider = chartData_duration_per_operator_pie_Incomming[d];
				chart2_pie_Incomming.validateData();
				chart2_pie_Incomming.animateAgain();
				chart2_pie_Outgoing.dataProvider = chartData_duration_per_operator_pie_Outgoing[d];
				chart2_pie_Outgoing.validateData();
				chart2_pie_Outgoing.animateAgain();
			}

		</script>

		<script type="text/javascript">
			var chartData_Incomming_duration_per_province = {{ Incomming_duration_per_province | safe }}
			chart3_Incomming = new AmCharts.makeChart("Incomming_duration_per_province",
				{
					"type": "serial",
					"categoryField": "MGW",
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start",
						"gridCount" :30,
						"autoGridCount": false,
						"labelRotation": 45,
					},
					"chartScrollbar": {
                         "graph": "g1",
                         "position" : "bottom",
                         },
                    "trendLines": [],
                    "chartCursor": {
			            "limitToGraph":"AmGraph-1",
			        },
					"graphs": [
						{
							"balloonText": "[[title]] of [[Operator]]:[[value]]",
							"fillAlphas": 1,
							"lineColor":"#00b300",
							"id": "AmGraph-1",
							"title": "Duration",
							"type": "column",
							"valueField": "Duration",
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Duration(Hour)"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Incomming Duration per Provinces"
						}
					],
					"dataProvider":
						chartData_Incomming_duration_per_province[0]
				}
			);
			function selectDataset_Incomming_duration_per_province(d) {
				chart3_Incomming.dataProvider = chartData_Incomming_duration_per_province[d];
				chart3_Incomming.validateData();
				chart3_Incomming.animateAgain();
			}
		</script>
		<script type="text/javascript">
			var chartData_Outgoing_duration_per_province = {{ Outgoing_duration_per_province | safe }}
			chart3_Outgoing = new AmCharts.makeChart("Outgoing_duration_per_province",
				{
					"type": "serial",
					"categoryField": "MGW",
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start",
						"gridCount" :30,
						"autoGridCount": false,
						"labelRotation": 45,
					},
					"chartScrollbar": {
                         "graph": "g1",
                         "position" : "bottom",
                         },
                    "trendLines": [],
					"graphs": [
						{
							"balloonText": "[[title]] of [[Operator]]:[[value]]",
							"fillAlphas": 1,
							"lineColor":"#103083",
							"id": "AmGraph-1",
							"title": "Duration",
							"type": "column",
							"valueField": "Duration"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Duration(Hour)"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Outgoing Duration per Provinces"
						}
					],
					"dataProvider":
						chartData_Outgoing_duration_per_province[0]
				}
			);
			function selectDataset_Outgoing_duration_per_province(d) {
				chart3_Outgoing.dataProvider = chartData_Outgoing_duration_per_province[d];
				chart3_Outgoing.validateData();
				chart3_Outgoing.animateAgain();
			}
		</script>


		<script type="text/javascript">
			var chartData_Incomming_crinfo = {{ Incomming_crinfo_data | safe }}
			chart4_Incomming = new AmCharts.makeChart("Incomming_crinfo",
				{
					"type": "serial",
					"categoryField": "MGW",
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start",
						"labelRotation": 45
					},
					"chartScrollbar": {
                         "graph": "g1",
                         "position" : "bottom",
                         },
                    "trendLines": [],
					"graphs": [
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-1",
							"title": "redirected call",
							"type": "column",
							"valueField": "redirected call"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-2",
							"title": "user called, but no-answer",
							"type": "column",
							"valueField": "user called, but no-answer"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-3",
							"title": "user busy",
							"type": "column",
							"valueField": "user busy"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-4",
							"title": "unspecified",
							"type": "column",
							"valueField": "unspecified"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-5",
							"title": "out of order",
							"type": "column",
							"valueField": "out of order"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-6",
							"title": "user answer",
							"type": "column",
							"valueField": "user answer"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-7",
							"title": "incomplete number",
							"type": "column",
							"valueField": "incomplete number"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-8",
							"title": "access denied",
							"type": "column",
							"valueField": "access denied"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-9",
							"title": "unavailable trunk line",
							"type": "column",
							"valueField": "unavailable trunk line"
						}

					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Number"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Incomming Call status"
						}
					],
					"dataProvider":
						chartData_Incomming_crinfo[0]

				}
			);


			function selectDataset_Incomming_crinfo(d) {
				chart4_Incomming.dataProvider = chartData_Incomming_crinfo[d];
				chart4_Incomming.validateData();
				chart4_Incomming.animateAgain();
			}
		</script>
		<script type="text/javascript">
			var chartData_Outgoing_crinfo = {{ Outgoing_crinfo_data | safe }}
			chart4_Outgoing = new AmCharts.makeChart("Outgoing_crinfo",
				{
					"type": "serial",
					"categoryField": "MGW",
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start",
						"labelRotation": 45
					},
					"chartScrollbar": {
                         "graph": "g1",
                         "position" : "bottom",
                         },
                    "trendLines": [],
					"graphs": [
						{
							"balloonText": "[[title]]\:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-1",
							"title": "redirected call",
							"type": "column",
							"valueField": "redirected call"
						},
						{
							"balloonText": "[[title]]\:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-2",
							"title": "user called, but no-answer",
							"type": "column",
							"valueField": "user called, but no-answer"
						},
						{
							"balloonText": "[[title]]\:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-3",
							"title": "user busy",
							"type": "column",
							"valueField": "user busy"
						},
						{
							"balloonText": "[[title]]\:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-4",
							"title": "unspecified",
							"type": "column",
							"valueField": "unspecified"
						},
						{
							"balloonText": "[[title]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-5",
							"title": "out of order",
							"type": "column",
							"valueField": "out of order"
						},
						{
							"balloonText": "[[title]] :[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-6",
							"title": "user answer",
							"type": "column",
							"valueField": "user answer"
						},
						{
							"balloonText": "[[title]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-7",
							"title": "incomplete number",
							"type": "column",
							"valueField": "incomplete number"
						},
						{
							"balloonText": "[[title]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-8",
							"title": "access denied",
							"type": "column",
							"valueField": "access denied"
						},
						{
							"balloonText": "[[title]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-9",
							"title": "unavailable trunk line",
							"type": "column",
							"valueField": "unavailable trunk line"
						}

					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Number"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Outgoing Call status"
						}
					],
					"dataProvider":
						chartData_Outgoing_crinfo[0]

				}
			);


			function selectDataset_Outgoing_crinfo(d) {
				chart4_Outgoing.dataProvider = chartData_Outgoing_crinfo[d];
				chart4_Outgoing.validateData();
				chart4_Outgoing.animateAgain();
			}
		</script>



		<!--Period INCOMING OUTGOING chart-->
		<script type="text/javascript">
			var chartData = {{ period_data | safe }}
			var mgw_operator = {{ mgw_operator | safe }}
			chart_period = new AmCharts.makeChart("period_chart", {
			    "type": "serial",
			    "theme": "light",
			    "marginRight": 80,
			    "autoMarginOffset": 20,
			    "marginTop": 7,
			    "dataProvider": chartData[183],
			    "fontSize":13,
			    "valueAxes": [{
			        "axisAlpha": 0.2,
			        "dashLength": 1,
			        "position": "left"
			    }],
			    "mouseWheelZoomEnabled": true,
			    "graphs": [{
			        "id": "g1",
			        "balloonText": "[[value]]",
			        "lineColor":"#4B0082",
			        "bullet": "round",
			        "lineThickness":3,
			        "bulletBorderAlpha": 1,
			        "bulletColor": "#FFFFFF",
			        "hideBulletsCount": 50,
			        "title": "Incomming Call      ",
			        "valueField": "Incomming Call",
			        <!--"type": "smoothedLine",-->
			        "useLineColorForBulletBorder": true,
			        "balloon":{
			            "drop":true
			        }
			        },
			        {
			        "id": "g2",
			        "balloonText": "[[value]]",
			        "bullet": "round",
			        "lineThickness":3,
			        "lineColor":"#228B22",
			        "bulletBorderAlpha": 1,
			        "bulletColor": "#FFFFFF",
			        "hideBulletsCount": 50,
			        "title": "Outgoing Call",
			        "valueField": "Outgoing Call",
			        <!--"type": "smoothedLine",-->
			        "useLineColorForBulletBorder": true,
			        "balloon":{
			            "drop":true
			        }
			    }],

			    "legend": {
						"enabled": true,
						"useGraphSettings": true,
						"position":"bottom",
                        "marginRight":500,
				},
			    "chartScrollbar": {
			        "autoGridCount": true,
			        "graph": "g2",
			        "scrollbarHeight": 40,
			        "backgroundAlpha": 1,
			        "backgroundColor": "#595959",
			        "color": "#ffffe6",
			    },
			    "chartCursor": {
			       "limitToGraph":"g1",
			    },
			    "categoryField": "Date",
			    "categoryAxis": {
			        "parseDates": true,
			        "axisColor": "#4B0082",
			        "dashLength": 1,
			        "minorGridEnabled": true
			    },
			    "export": {
			        "enabled": true
			    }
			});

			chart_period.addListener("rendered", zoomChart);
			zoomChart();

			// this method is called when chart is first inited as we listen for "rendered" event
			function zoomChart() {
			    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
			    chart_period.zoomToIndexes(chartData[0].length-100, chartData[0].length-1);
			}
			function selectDatasetPeriod() {
				var mgw = document.getElementsByName('dataset_period_MGW');
				var operator = document.getElementsByName('dataset_period_Operator');
				for (i = 0; i < mgw.length; i++) {
					 if(mgw[i].checked){
                        var mgw_name = mgw[i].value;
                    }
				}
				for (i = 0; i < operator.length; i++) {
					 if(operator[i].checked){
                        var operator_name = operator[i].value;
                    }
                }
                for (i = 0; i < mgw_operator.length; i++) {
                   if (mgw_operator[i][0] == mgw_name && mgw_operator[i][1] == operator_name) {
                       chart_period.dataProvider = chartData[i];
					}
				}
				chart_period.validateData();
				chart_period.animateAgain();
			}
		</script>

{% endblock %}

{% block Dashboard %}

	<div class="container">
		<div class="row" style="border-style: double;background-color:#FFF8DC;">
		<br>
            <div class="col-sm-12">
				<div class="chart-container">
					<form>
					<div class="btn-group">
					  <button data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="margin-top: 10px;margin-left: 10px">Province&nbsp;&nbsp;<span class="caret"></span></button>
					    <ul class="dropdown-menu dropdown-menu-form" role="menu" style="width:200px">
						    {% for mgw in mgws %}
						        &nbsp;
						    {% if mgw == "MGW_TEH_ISC2" %}
							    <label><input type="radio" value="{{mgw}}" name="dataset_period_MGW" checked="checked"/>{{mgw}}</label>
						    {% else %}
							    <label><input type="radio" value="{{mgw}}" name="dataset_period_MGW" />{{mgw}}</label>
						    {% endif %}
							    <br>
						    {% endfor %}

					    </ul>
					</div>
					<div class="btn-group">
						<button data-toggle="dropdown" class="btn btn-default dropdown-toggle" style="margin-top: 10px;">Operator&nbsp;&nbsp;<span class="caret"></span></button>
					    <ul class="dropdown-menu dropdown-menu-form" role="menu">
						<!--<div id="selector">Select a dataset:-->

						    {% for operator in operators %}
						    &nbsp;
							    {% if operator == "mci" %}
							        <label><input type="radio" value="{{ operator }}" name="dataset_period_Operator"  checked="checked"/>{{ operator }}</label>
							        <br>
							    {% else %}
							        <label><input type="radio" value="{{ operator }}" name="dataset_period_Operator"/> {{ operator }}</label>
							        <br>
							    {% endif %}
						    {% endfor %}
					    </ul>
					</div>
						<input type="button" class="btn btn-success" value="APPLY" name="APPLY" onclick="selectDatasetPeriod();" style="margin-top: 10px;" />

					</form>
					</div>
						<div id="period_chart" style="width: 100%; height: 600px; background-color:#FFF8DC; margin-top:50px" ></div> <!--Incoming/Outgoing Duration from Shatel-->
            </div>
		</div>
				<div class="row">
			<hr style="border-width: 5px; border-color:#f2f2f2">
		</div>
	</div>
		<div class="row">
            <div class="col-sm-12"  style="border-style: double;  width:38%;margin-left:25px;background-color:#FFF8DC; ">
				<div class="chart-container">
					<div style="border-bottom: groove  ;width:70%;">
						<br>
					    {% for date in DateList %}
					        {% if date == "1day" %}
					            &nbsp;&nbsp;&nbsp;
					            <label><input type="radio" value="{{forloop.counter0}}" name="duration_per_operator" onclick="selectDataset_duration_per_operator({{forloop.counter0}});" checked="checked"/> {{date }}</label>
					        {% else %}
							    &nbsp;&nbsp;&nbsp;
							    <label><input type="radio" value="{{forloop.counter0}}" name="duration_per_operator" onclick="selectDataset_duration_per_operator({{forloop.counter0}});"/> {{date}}</label>
					        {% endif %}
					    {% endfor %}
					</div>
					<br><br>
						<div id="duration_per_operator" style="width:700px; height: 500px; background-color: #FFF8DC;" ></div> <!--Incoming/Outgoing Duration from Shatel-->
				</div>
            </div>


			<div class="col-sm-5"  style="border-style: double;  width:58%;margin-left:25px;background-color:#FFF8DC;">
				<div class="chart-container">
					<div style="border-bottom: groove  ;width:45%;">
						<br>
					    {% for date in DateList %}
					        {% if date == "1day" %}
					            &nbsp;&nbsp;&nbsp;
					            <label><input type="radio" value="{{forloop.counter0}}"  checked="checked" name="dataset_pie" onclick="selectDataset_duration_per_operator_pie({{forloop.counter0}});"/> {{date }}</label>
					        {% else %}
							    &nbsp;&nbsp;&nbsp;
							    <label><input type="radio" value="{{forloop.counter0}}" name="dataset_pie" onclick="selectDataset_duration_per_operator_pie({{forloop.counter0}});"/> {{date}}</label>

					        {% endif %}
					    {% endfor %}
					</div>
											<br><br>
					<table>
					  <tr>
					    <td><div id="duration_per_operator_pie_Incomming" style="width:550px; height: 500px; background-color: #FFF8DC;" ></div> <!--Incoming/Outgoing Duration from Shatel--></td>
					    <td><div id="duration_per_operator_pie_Outgoing" style="width:550px; height: 500px; background-color: #FFF8DC;" ></div> <!--Incoming/Outgoing Duration from Shatel--></td>
					  </tr>
					</table>

				</div>
            </div>
		</div>









		<div class="row">
			<hr style="border-width: 5px; border-color:#f2f2f2">
		</div>
		<div class="row">
            <div class="col-sm-10" style="border-style: double;  width: 45%;margin-left:50px;background-color:#FFF8DC; ">
				<div class="chart-container"s >
					<div class="chart-container">
					<div style="border-bottom: groove  ;width:60%;">
						<br>
						    {% for date in DateList %}
						        {% if date == "1day" %}
						            &nbsp;&nbsp;&nbsp;
						            <label><input type="radio" value="{{forloop.counter0}}" name="Incomming_duration_per_province" checked="checked" onclick="selectDataset_Incomming_duration_per_province({{forloop.counter0}});"/> {{date }}</label>
						        {% else %}
								    &nbsp;&nbsp;&nbsp;
								    <label><input type="radio" value="{{forloop.counter0}}" name="Incomming_duration_per_province" onclick="selectDataset_Incomming_duration_per_province({{forloop.counter0}});"/> {{date}}</label>
						        {% endif %}
						    {% endfor %}
						</div>
						<br><br>
						<div id="Incomming_duration_per_province" style="width: 100%; height: 600px; background-color:#FFF8DC;" ></div>
					</div>
                 </div>
			</div>
            <div class="col-sm-10" style="border-style: double;  width: 45%;margin-left:50px;background-color:#FFF8DC; ">
				<div class="chart-container"s >
					<div class="chart-container">
					<div style="border-bottom: groove  ;width:60%;">
						<br>
						    {% for date in DateList %}
						        {% if date == "1day" %}
						            &nbsp;&nbsp;&nbsp;
						            <label><input type="radio" value="{{forloop.counter0}}" name="Outgoing_duration_per_province" checked="checked" onclick="selectDataset_Outgoing_duration_per_province({{forloop.counter0}});"/> {{date }}</label>
						        {% else %}
								    &nbsp;&nbsp;&nbsp;
								    <label><input type="radio" value="{{forloop.counter0}}" name="Outgoing_duration_per_province" onclick="selectDataset_Outgoing_duration_per_province({{forloop.counter0}});"/> {{date}}</label>
						        {% endif %}
						    {% endfor %}
						</div>
						<br><br>
						<div id="Outgoing_duration_per_province" style="width: 100%; height: 600px; background-color:#FFF8DC;" ></div>
					</div>
                 </div>
			</div>
		</div>
		<div class="row">
			<hr style="border-width: 5px; border-color:#f2f2f2">
		</div>

		<div class="row">
			<div class="container-fluid">
			<div class="col-sm-10" style="border-style:double;background-color:#FFF8DC;margin-left:50px;  width: 95%;">
				<div class="chart-container">
					<div style="border-bottom: groove  ;width:60%;">
						<br>
					    {% for date in DateList %}
					        {% if date == "1day" %}
					             &nbsp;&nbsp;&nbsp;
					            <label><input type="radio" value="{{forloop.counter0}}" name="Incomming_crinfo" onclick="selectDataset_Incomming_crinfo({{forloop.counter0}});" checked="checked"/> {{date}}</label>
					        {% else %}
					             &nbsp;&nbsp;&nbsp;
					            <label><input type="radio" value="{{forloop.counter0}}" name="Incomming_crinfo" onclick="selectDataset_Incomming_crinfo({{forloop.counter0}});"/> {{date}}</label>
					        {% endif %}
					    {% endfor %}
					</div>
					<br><br>
					<div id="Incomming_crinfo" style="width: 100%; height: 600px;"></div>
				</div>
			</div>
		</div>
		</div>

	</div>
{% endblock %}
