	{% load static %}
<link rel="stylesheet" href="{% static 'bootstrap/css/dynamic.css' %}" type="text/css">
<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<script src="https://www.amcharts.com/lib/3/amstock.js"></script>
			{% load static %}

		<link rel="stylesheet" href="{% static 'bootstrap/css/sidebar.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'bootstrap/css/class_active.css' %}" type="text/css">

		<!-- Latest compiled and minified JavaScript -->

		<script type="text/javascript" src="{% static 'amcharts/amcharts/amcharts.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/serial.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/pie.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/themes/black.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/plugins/dataloader/dataloader.min.js' %}"></script>


<script src="https://www.amcharts.com/lib/3/amcharts.js"></script>
<script src="https://www.amcharts.com/lib/3/serial.js"></script>
<script src="https://www.amcharts.com/lib/3/plugins/export/export.min.js"></script>
<link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all" />
<script src="https://www.amcharts.com/lib/3/themes/light.js"></script>
<div id="chartdiv"></div>


<script>

var chartData = generateChartData();
var chartData = [{'Date': '2017-07-02', 'Incoming Call': '184188.345'}, {'Date': '2017-07-03', 'Incoming Call': '188155.338'}, {'Date': '2017-07-04', 'Incoming Call': '168905.097'}, {'Date': '2017-07-05', 'Incoming Call': '210199.469'}, {'Date': '2017-07-06', 'Incoming Call': '180082.948'}, {'Date': '2017-07-07', 'Incoming Call': '108903.471'}, {'Date': '2017-07-08', 'Incoming Call': '169931.453'}]

var chart = AmCharts.makeChart("chartdiv", {
    "type": "serial",
    "theme": "light",
    "marginRight": 80,
    "autoMarginOffset": 20,
    "marginTop": 7,
    "dataProvider": chartData,
    "valueAxes": [{
        "axisAlpha": 0.2,
        "dashLength": 1,
        "position": "left"
    }],
    "mouseWheelZoomEnabled": true,
    "graphs": [{
        "id": "g1",
        "balloonText": "[[value]]",
        "bullet": "round",
        "bulletBorderAlpha": 1,
        "bulletColor": "#FFFFFF",
        "hideBulletsCount": 50,
        "title": "red line",
        "valueField": "Incoming Call",
        "useLineColorForBulletBorder": true,
        "balloon":{
            "drop":true
        }
    }],
    "chartScrollbar": {
        "autoGridCount": true,
        "graph": "g1",
        "scrollbarHeight": 40
    },
    "chartCursor": {
       "limitToGraph":"g1"
    },
    "categoryField": "Date",
    "categoryAxis": {
        "parseDates": true,
        "axisColor": "#DADADA",
        "dashLength": 1,
        "minorGridEnabled": true
    },
    "export": {
        "enabled": true
    }
});

chart.addListener("rendered", zoomChart);
zoomChart();

// this method is called when chart is first inited as we listen for "rendered" event
function zoomChart() {
    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
    chart.zoomToIndexes(chartData.length - 40, chartData.length - 1);
}
</script>
