{% extends 'Myquery_form.html' %}

{% block head %}
<style>
textarea {
    width: 100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
}
</style>
{% endblock %}



	{% block chart %}
	<hr class="divider">
	<hr class="divider">
	<hr class="divider">
	<div class="container">
		<table class="table table-striped">
		  <thead>
		    <tr>
		        <th>#</th>
		        <th>Query</th>
		        <th>Total Duration</th>
			    <th>Network efficiency ratio</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr>
		      <th scope="row">1</th>
		      <td>{{query}}</td>
		      <td>{{duration}}</td>
		      <td>{{NER}}</td>
		    </tr>
		  </tbody>
	</table>
	</div>
	{% endblock %}

