{% extends 'Period_analysis_form.html' %}
{% block head %}
		<title>chart created with amCharts | amCharts</title>
		<meta name="description" content="chart created using amCharts live editor" />

				<!-- amCharts javascript sources -->
		{% load static %}

		<link rel="stylesheet" href="{% static 'bootstrap/css/sidebar.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'bootstrap/css/radio.css' %}" type="text/css">
		<link rel="stylesheet" href="{% static 'bootstrap/css/class_active.css' %}" type="text/css">

		<!-- Latest compiled and minified JavaScript -->

		<script type="text/javascript" src="{% static 'amcharts/amcharts/amcharts.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/serial.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/pie.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/themes/black.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/plugins/dataloader/dataloader.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/plugins/plugins/export/export.min.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/themes/light.js' %}"></script>
		<script type="text/javascript" src="{% static 'amcharts/amcharts/themes/dark.js' %}"></script>
		<link rel="stylesheet" href="{% static 'amcharts/amcharts/plugins/export/export.css' %}" type="text/css" media="all" />

		<!--Period INCOMING OUTGOING chart-->
		<script type="text/javascript">
			var chartData = {{ period_data | safe }}
			chart_period = new AmCharts.makeChart("period_chart", {
			    "type": "serial",
			    "theme": "light",
			    "marginRight": 80,
			    "autoMarginOffset": 20,
			    "marginTop": 7,
			    "dataProvider": chartData,
			    "valueAxes": [{
			        "axisAlpha": 0.2,
			        "dashLength": 1,
			        "position": "left"
			    }],
			    "mouseWheelZoomEnabled": true,
			    "graphs": [{
			        "id": "g1",
			        "balloonText": "[[value]]",
			        "bullet": "round",
			        "bulletBorderAlpha": 1,
			        "bulletColor": "#FFFFFF",
			        "hideBulletsCount": 50,
			        "title": "Incomming Call      ",
			        "valueField": "Incomming Call",
			        <!--"type": "smoothedLine",-->
			        "useLineColorForBulletBorder": true,
			        "balloon":{
			            "drop":true
			        }
			        },
			        {
			        "id": "g2",
			        "balloonText": "[[value]]",
			        "bullet": "round",
			        "bulletBorderAlpha": 1,
			        "bulletColor": "#FFFFFF",
			        "hideBulletsCount": 50,
			        "title": "Outgoing Call",
			        "valueField": "Outgoing Call",
			        <!--"type": "smoothedLine",-->
			        "useLineColorForBulletBorder": true,
			        "balloon":{
			            "drop":true
			        }
			    }],

			    "legend": {
						"enabled": true,
						"useGraphSettings": true,
						"position":"bottom",
                        "marginRight":100,
                        "autoMargins":false,
						"valueText" : "[[value]]"
				},
			    "chartScrollbar": {
			        "autoGridCount": true,
			        "graph": "g1",
			        "scrollbarHeight": 40
			    },
			    "chartCursor": {
			       "limitToGraph":"g1",
			       "limitToGraph":"g2"
			    },
			    "categoryField": "Date",
			    "categoryAxis": {
			        "parseDates": true,
			        "axisColor": "#DADADA",
			        "dashLength": 1,
			        "minorGridEnabled": true
			    },
			    "export": {
			        "enabled": true
			    },

			  "titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Incomming/Outgoing Duration"
						}
					]
			});

			chart_period.addListener("rendered", zoomChart);
			zoomChart();

			// this method is called when chart is first inited as we listen for "rendered" event
			function zoomChart() {
			    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
			    chart_period.zoomToIndexes(chartData.length + 5, chartData.length -25);
			}
		</script>
		<script type="text/javascript">
			var chartData = {{ period_data | safe }}
			chart_period = new AmCharts.makeChart("period_chart", {
			    "type": "serial",
			    "theme": "light",
			    "marginRight": 80,
			    "autoMarginOffset": 20,
			    "marginTop": 7,
			    "dataProvider": chartData,
			    "fontSize":13,
			    "valueAxes": [{
			        "axisAlpha": 0.2,
			        "dashLength": 1,
			        "position": "left"
			    }],
			    "mouseWheelZoomEnabled": true,
			    "graphs": [{
			        "id": "g1",
			        "balloonText": "[[value]]",
			        "lineColor":"#4B0082",
			        "bullet": "round",
			        "lineThickness":3,
			        "bulletBorderAlpha": 1,
			        "bulletColor": "#FFFFFF",
			        "hideBulletsCount": 50,
			        "title": "Incomming Call      ",
			        "valueField": "Incomming Call",
			        <!--"type": "smoothedLine",-->
			        "useLineColorForBulletBorder": true,
			        "balloon":{
			            "drop":true
			        }
			        },
			        {
			        "id": "g2",
			        "balloonText": "[[value]]",
			        "bullet": "round",
			        "lineThickness":3,
			        "lineColor":"#228B22",
			        "bulletBorderAlpha": 1,
			        "bulletColor": "#FFFFFF",
			        "hideBulletsCount": 50,
			        "title": "Outgoing Call",
			        "valueField": "Outgoing Call",
			        <!--"type": "smoothedLine",-->
			        "useLineColorForBulletBorder": true,
			        "balloon":{
			            "drop":true
			        }
			    }],

			    "legend": {
						"enabled": true,
						"useGraphSettings": true,
						"position":"bottom",
                        "marginRight":500,
				},
			    "chartScrollbar": {
			        "autoGridCount": true,
			        "graph": "g2",
			        "scrollbarHeight": 40,
			        "backgroundAlpha": 1,
			        "backgroundColor": "#595959",
			        "color": "#ffffe6",
			    },
			    "chartCursor": {
			       "limitToGraph":"g1",
			    },
			    "categoryField": "Date",
			    "categoryAxis": {
			        "parseDates": true,
			        "axisColor": "#DADADA",
			        "dashLength": 1,
			        "minorGridEnabled": true
			    },
			    "export": {
			        "enabled": true
			    },

			  "titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Incomming/Outgoing Duration"
						}
					]
			});

			chart_period.addListener("rendered", zoomChart);
			zoomChart();

			// this method is called when chart is first inited as we listen for "rendered" event
			function zoomChart() {
			    // different zoom methods can be used - zoomToIndexes, zoomToDates, zoomToCategoryValues
			    chart_period.zoomToIndexes(chartData.length -40, chartData.length -1);
			}
		</script>

{% endblock %}

{% block chart %}
	<hr class="divider">
	<hr class="divider">
	<div class="container">
	<table class="table table-bordered">
		  <thead class="head-inverse">
		    <tr style="background-color:#0000ff; color: #ffffff; box-shadow:3px 3px 3px #999">
		        <th class="text-center" style="font-size:18px">MGWs</th>
		        <th class="text-center"style="font-size:18px">Operators</th>
			    <th class="text-center"style="font-size:18px">Start Date</th>
			    <th class="text-center"style="font-size:18px">End Date</th>
		    </tr>
		  </thead>
		  <tbody>
		    <tr style="box-shadow:3px 3px 3px #999;">
		      <td class="text-center" style="font-size:18px">{% for mgw in user_selected_mgw %}
			        {{mgw}}<br>
			      {% endfor %}
		      </td>
		      <td class="text-center"style="font-size:18px">{% for operator in operator %}
			        {{operator}}<br>
			      {% endfor %}
		      </td>
		      <td class="text-center"style="font-size:18px">{% for date in start_date %}
			        {{date}}
			      {% endfor %}
		      </td>
			  <td class="text-center"style="font-size:18px">{% for date in end_date %}
			        {{date}}
			      {% endfor %}
		      </td>
		    </tr>
		  </tbody>
	</table>
</div>
	<hr class="divider">
	<div class="container">
		<div class="row">

		</div>
		<div class="row">
            <div class="col-sm-12">
						<div id="period_chart" style="width: 100%; height: 500px; background-color: #FFFFFF;" ></div> <!--Incoming/Outgoing Duration from Shatel-->
				</div>
            </div>

	</div>
{% endblock %}
