<script type="text/javascript">
			AmCharts.makeChart("Duration",
				{
					"type": "serial",
					"categoryField": "MGW",
					"colors" : ["#000099","#B0DE09", "#2A0CD0", "#CD0D74", "#CC0000", "#00CC00", "#0000CC", "#DDDDDD", "#999999", "#333333", "#990000"],
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start",
						"labelRotation": 45
					},
					"chartScrollbar": {
                         "graph": "g1",
                         "position" : "bottom",
                         },
                    "trendLines": [],
					"graphs": [
						{
							"balloonText": "[[title]] of [[Operator]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-1",
							"title": "Duration",
							"type": "column",
							"valueField": "Duration"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Duration(Second)"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Duration from source {{type}} to destination {{type}}"
						}
					],
					"dataProvider":
						{{ duration | safe }}

				}
			);
		</script>

<script type="text/javascript">
			AmCharts.makeChart("NER",
				{
					"type": "serial",
					"categoryField": "MGW",
					"colors" : ["#004d00", "#0D8ECF","#2A0CD0", "#CD0D74", "#CC0000", "#00CC00", "#0000CC", "#DDDDDD", "#999999", "#333333", "#990000"],
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start",
						"labelRotation": 45
					},
					"chartScrollbar": {
                         "graph": "g1",
                         "position" : "bottom",
                         },
                    "trendLines": [],
					"graphs": [
						{
							"balloonText": "[[title]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-1",
							"title": "NER",
							"type": "column",
							"valueField": "NER"
						}
					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "NER(%)"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "NER"
						}
					],
					"dataProvider":
						{{ NER | safe }}

				}
			);
		</script>

<script type="text/javascript">
			var chartData = {{ crinfo | safe }}
			chart = new AmCharts.makeChart("crinfo",
				{
					"type": "serial",
					"categoryField": "MGW",
					"startDuration": 1,
					"categoryAxis": {
						"gridPosition": "start",
						"labelRotation": 45
					},
					"chartScrollbar": {
                         "graph": "g1",
                         "position" : "bottom",
                         },
                    "trendLines": [],
					"graphs": [
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-1",
							"title": "redirected call",
							"type": "column",
							"valueField": "redirected call"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-2",
							"title": "user called, but no-answer",
							"type": "column",
							"valueField": "user called, but no-answer"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-3",
							"title": "user busy",
							"type": "column",
							"valueField": "user busy"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-4",
							"title": "unspecified",
							"type": "column",
							"valueField": "unspecified"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-5",
							"title": "out of order",
							"type": "column",
							"valueField": "out of order"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-6",
							"title": "user answer",
							"type": "column",
							"valueField": "user answer"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-7",
							"title": "incomplete number",
							"type": "column",
							"valueField": "incomplete number"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-8",
							"title": "access denied",
							"type": "column",
							"valueField": "access denied"
						},
						{
							"balloonText": "[[title]] of [[MGW]]:[[value]]",
							"fillAlphas": 1,
							"id": "AmGraph-9",
							"title": "unavailable trunk line",
							"type": "column",
							"valueField": "unavailable trunk line"
						}

					],
					"guides": [],
					"valueAxes": [
						{
							"id": "ValueAxis-1",
							"title": "Number"
						}
					],
					"allLabels": [],
					"balloon": {},
					"legend": {
						"enabled": true,
						"useGraphSettings": true
					},
					"titles": [
						{
							"id": "Title-1",
							"size": 15,
							"text": "Call status"
						}
					],
					"dataProvider":
						chartData

				}
			);

		</script>
